Repository kutsan/stylelint-config-clean-order: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --max-warnings=0", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

docs: add test ci status badge
  README.md
Due: prettier --write

ci: use master as a default branch
  .github/workflows/test.yml
Due: none

build: temporarily remove eslint from lint-staged config
  .lintstagedrc.json
Due: prettier --write

feat: change order of at-rule blocks
  src/index.js
Due: eslint --max-warnings=0, prettier --write

test: add initial test
  package-lock.json
  package.json
  test/test.css
  test/test.scss
Due: prettier --write

1.0.0
  package-lock.json
  package.json
Due: prettier --write

feat!: use warning level severity
  src/index.js
Due: eslint --max-warnings=0, prettier --write

feat!: add emptyLineBefore after 5 and more properties
  src/index.js
Due: eslint --max-warnings=0, prettier --write

2.0.0
  package-lock.json
  package.json
Due: prettier --write

test: fix the test case with new changes
  test/test.css
Due: none

feat: add after-comment to at-rule-empty-line-before ignore list
  src/index.js
Due: eslint --max-warnings=0, prettier --write

2.1.0
  package-lock.json
  package.json
Due: prettier --write

Add container properties
  src/groups/layout.js
Due: eslint --max-warnings=0, prettier --write

2.2.0
  package-lock.json
  package.json
Due: prettier --write

feat: add individual transform properties
  src/groups/positioning.js
Due: eslint --max-warnings=0, prettier --write

2.3.0
  package-lock.json
  package.json
Due: prettier --write

Correcting typo
  src/groups/appearance.js
  src/index.js
Due: eslint --max-warnings=0, prettier --write

2.3.1
  package-lock.json
  package.json
Due: prettier --write

build: update dependencies
  package-lock.json
  package.json
Due: prettier --write

3.0.0
  package-lock.json
  package.json
Due: prettier --write
